<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{titulo1}}</th>
        <th scope="col">{{titulo2}}</th>
        <th scope="col">{{titulo3}}</th>
      </tr>
    </thead>
    <tbody>
        @for (fila of filas; track fila.texto) {
            <tr>
                <td>{{fila.texto}}</td>
                <td>{{titulo1}}</td>
                <td>{{titulo2}}</td>
                <td>{{titulo3}}</td>
            </tr>
        } @empty {
            Empty list of fila
        }
    </tbody>
    
  </table>
        